.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 107;
  color: white;
}

/* .join__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
} */

.logout__modal-content {
  position: relative;
  padding: 38px;
  width: 75%;
  height: 50%;
  border: 2px solid rgba(89, 206, 89, 0.35);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  margin: 200px auto;
}

.logout__modal_opened {
  visibility: visible;
}

.logout__modal-title {
  margin: 0;
  font-family: "Londrina-Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 48px;
  padding: 26px;
  text-align: center;
}

.logout__modal-close {
  position: absolute;
  border: none;
  top: 20px;
  right: 28px;
  font-family: "Londrina-Black", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: white;
  width: 48px;
  height: 48px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1001;
}

.logout__modal-close:hover {
  opacity: 0.8;
  transform: rotateY(30deg);
}

.logout__modal-buttons {
  padding-top: 100px;
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.logout__modal-confrim-button {
  color: yellow;
  border: none;
  background-color: black;
  font-family: "Londrina-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 48px;
  cursor: pointer;
  padding: 26px;
  margin: 10px;
  align-self: center;
}

.logout__modal-confrim-button:hover {
  color: rgba(255, 255, 0, 0.5);
  transform: scale(1.02);
}

.logout__modal-cancel-button {
  color: blue;
  border: none;
  background-color: black;
  font-family: "Londrina-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 48px;
  cursor: pointer;
  padding: 26px;
  margin: 10px;
}

.logout__modal-cancel-button:hover {
  color: rgba(0, 0, 255, 0.5);
  transform: scale(1.02);
}

.logout__modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1080px) {
  .logout__modal-content {
    margin-left: 50px;
  }
}
